modules = ["python-3.12"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Demo Program"

[[workflows.workflow]]
name = "Demo Program"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python demo.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Program 1"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program1_read_text_file.py\""

[[workflows.workflow]]
name = "Program 2"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program2_count_letters.py\""

[[workflows.workflow]]
name = "Program 3"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program3_remove_lines.py\""

[[workflows.workflow]]
name = "Program 6"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program6_csv_password_search.py\""

[[workflows.workflow]]
name = "Program 9"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program9_factorial_recursion.py\""

[[workflows.workflow]]
name = "Program 10"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program10_division_exception.py\""

[[workflows.workflow]]
name = "Program 12"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program12_fibonacci_recursion.py\""

[[workflows.workflow]]
name = "Program 13"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program13_stack_implementation.py\""

[[workflows.workflow]]
name = "Program 16"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program16_password_generator.py\""

[[workflows.workflow]]
name = "Program 20"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program20_merge_files.py\""

[[workflows.workflow]]
name = "Program 4"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program4_binary_search_roll.py\""

[[workflows.workflow]]
name = "Program 5"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program5_binary_update_marks.py\""

[[workflows.workflow]]
name = "Program 7"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program7_csv_write_display.py\""

[[workflows.workflow]]
name = "Program 8"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program8_copy_file.py\""

[[workflows.workflow]]
name = "Program 11"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program11_prime_check.py\""

[[workflows.workflow]]
name = "Program 17"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program17_student_record_csv.py\""

[[workflows.workflow]]
name = "Program 18"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program18_count_binary_records.py\""

[[workflows.workflow]]
name = "Program 19"
author = 50063095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python \"Program/Python Programs/program19_top3_students.py\""

[nix]
channel = "stable-25_05"
